{% extends "base.html" %}

{% block content %}
  <div class="w-full space-y-4" data-controller="media--thumbnail-demo">
    <h1 class="text-2xl">File Input</h1>
    <input
      data-media--thumbnail-demo-target="fileInput"
      class="file-input"
      type="file"
      accept="image/*,video/*"
      multiple
    />
    <h1 class="text-2xl">Drop Zone</h1>
    <div
      data-media--thumbnail-demo-target="dropzone"
      class="rounded-box border-2 border-dashed border-neutral p-8 text-center"
    >
      Drag files here (e.g. straight from Apple Photos)
    </div>
    <h1 class="text-2xl">Logs</h1>
    <ul data-media--thumbnail-demo-target="logs" class="font-mono"></ul>
    <h1 class="text-2xl">Thumbnail</h1>
    <img data-media--thumbnail-demo-target="thumbnail" alt="thumbnail" />
  </div>
{% endblock content %}
