@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app-title {
    @apply mb-2 text-4xl font-bold leading-none;
  }

  .app-form-card {
    @apply md:card md:p-8 md:shadow-xl dark:md:bg-neutral;
  }

  .app-card {
    @apply card border border-gray-200 shadow max-md:w-full dark:border-0 dark:bg-neutral;
  }
}

@layer components {
  .video-indicator-wrapper {
    position: relative;
    display: inline-block;
  }

  .video-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .video-indicator::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 14px solid white;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
}
