<div class="flex h-screen">
  <div class="m-auto">
    <div class="px-2 border-b-2">
      <h1 class="font-semibold text-4xl uppercase">Journals</h1>
    </div>
    <ul>
      <li>1</li>
      <li>1</li>
    </ul>
  </div>
</div>
