<script>
  // @ts-check
  /// <reference path="./js_utils.d.ts" />

  window.jsUtils.once("datetime", () => {
    window.jsUtils.observe(
      "time",
      /** @param {HTMLTimeElement} $time */
      ($time) => {
        const datetimeString = $time.getAttribute("datetime");
        if (!datetimeString) return;
        const d = new Date(datetimeString);
        // @ts-ignore
        if (isNaN(d)) {
          console.error(`Invalid datetime: '${datetimeString}'`);
          return;
        }

        const dateStyle = $time.getAttribute("data-date-style") ?? undefined;
        const timeStyle = $time.getAttribute("data-time-style") ?? undefined;
        const text = Intl.DateTimeFormat(undefined, {
          // @ts-ignore
          dateStyle,
          // @ts-ignore
          timeStyle,
        }).format(d);
        $time.textContent = text;
      },
    );
  });
</script>

{% macro date(d) %}
  <time datetime="{{ d }}" data-date-style="long">{{ d }}</time>
{% endmacro %}

{% macro time(d) %}
  <time datetime="{{ d }}" data-time-style="short">{{ d }}</time>
{% endmacro %}

{% macro datetimetz(d) %}
  <time datetime="{{ d }}" data-date-style="medium" data-time-style="short"
    >{{ d }}</time
  >
{% endmacro %}
