{% if not hx_boosted %}
  {# [todo-bundle] #}
  <script>
    window.jsUtils.once("error_handling", () => {
      // Relines on [toast-fn]
      htmx.on("htmx:responseError", (evt) => {
        let error = evt.detail.error + "\n" + evt.detail.xhr.responseText;
        console.error("Response Error:", error);
        toast({ message: error, variant: "error" });
      });
      htmx.on("htmx:sendError", (evt) => {
        let url = evt.detail.xhr.responseURL;
        let error = `Network error: ${url}`;
        console.error(error);
        toast({ message: error, variant: "error" });
      });
    });
  </script>
{% endif %}
