{% macro input(name, label, type="text", label_right="", required=true, value="", disabled=false, autocomplete="") %}
  <label class="form-control w-full">
    <div class="label">
      <span class="label-text">{{ label }}</span>
      {{ label_right }}
    </div>
    <input
      {% if name %}name="{{ name }}"{% endif %}
      type="{{ type }}"
      {% if required %}required{% endif %}
      {% if disabled %}disabled{% endif %}
      {% if autocomplete %}autocomplete="{{ autocomplete }}"{% endif %}
      {% if value %}value="{{ value }}"{% endif %}
      class="input input-bordered w-full"
    />
  </label>
{% endmacro %}

{# [form-errors-id] #}
{% macro form_error(error, id="form_error") %}
  <div
    id="{{ id }}"
    role="alert"
    class="{% if not error %}hidden{% endif %} alert alert-error"
  >
    {% if error %}
      {{ error }}
    {% endif %}
  </div>
{% endmacro %}
