{% macro media_tag(media, class) %}
  {% if media.media_type == "image" %}
    <a
      href="{{ media.url_original }}"
      target="_blank"
      data-media--gallery-target="item"
      data-lg-size="{{ media.width_original }}-{{ media.height_original }}"
    >
      <img
        src="{{ media.url_thumbnail }}"
        alt="{{ media.caption }}"
        class="{{ class }}"
      />
    </a>
  {% else %}
    <video src="{{ media.url_original }}" controls class="{{ class }}">
      Your browser does not support the video tag.
    </video>
  {% endif %}
{% endmacro %}
