{% macro gallery_item(media, class) %}
  {% if media.media_type == "image" %}
    <a
      href="{{ media.url_original }}"
      target="_blank"
      data-media--gallery-target="item"
      data-lg-size="{{ media.width_original }}-{{ media.height_original }}"
    >
      <img
        src="{{ media.url_thumbnail }}"
        alt="{{ media.caption }}"
        class="{{ class }}"
        width="{{ media.width_thumbnail }}"
        height="{{ media.height_thumbnail }}"
      />
    </a>
  {% else %}
    <a
      data-lg-size="{{ media.width_original }}-{{ media.height_original }}"
      data-media--gallery-target="item"
      data-video='{
        "source": [{"src":"{{ media.url_original }}"}],
        "attributes": {"preload": false, "playsinline": true, "controls": true}
      }'
    >
      <img
        src="{{ media.url_thumbnail }}"
        alt="{{ media.caption }}"
        class="{{ class }}"
        width="{{ media.width_thumbnail }}"
        height="{{ media.height_thumbnail }}"
      />
    </a>
  {% endif %}
{% endmacro %}

{% macro standalone_item(media, class) %}
  {% if media.media_type == "image" %}
    <a href="{{ media.url_original }}" target="_blank">
      <img
        src="{{ media.url_thumbnail }}"
        alt="{{ media.caption }}"
        class="{{ class }}"
        width="{{ media.width_thumbnail }}"
        height="{{ media.height_thumbnail }}"
      />
    </a>
  {% else %}
    <a href="{{ media.url_original }}" target="_blank">
      <img
        src="{{ media.url_thumbnail }}"
        alt="{{ media.caption }}"
        class="{{ class }}"
        width="{{ media.width_thumbnail }}"
        height="{{ media.height_thumbnail }}"
      />
    </a>
  {% endif %}
{% endmacro %}
