{#
Idea inspired by https://themurph.hashnode.dev/go-beyond-the-basics-mastering-toast-notifications-with-go-and-htmx
#}

<div
  class="toast max-h-full max-w-full overflow-x-auto overflow-y-auto max-md:toast-top max-md:w-full"
  data-controller="toast"
>
  <template data-toast-target="template">
    <div
      role="alert"
      class="alert flex items-center justify-between"
      data-error-class="alert-error"
      data-success-class="alert-success"
    >
      {# Don't use whitespace-pre on mobile to prevent overflow #}
      <div id="message" class="app-toast-text whitespace-pre-wrap"></div>
      <!-- https://flowbite.com/docs/components/toast/#default-toast -->
      <button
        type="button"
        class="btn btn-circle btn-outline btn-sm"
        data-error-class="border-error-content text-error-content hover:bg-error-content hover:border-error hover:text-error"
        data-success-class="border-success-content text-success-content hover:bg-success-content hover:border-success hover:text-success"
        aria-label="Close"
      >
        <span class="sr-only">Close</span>
        <svg
          class="h-3 w-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          />
        </svg>
      </button>
    </div>
  </template>
</div>

<style>
  /* Overwide daisyUI's properties to avoid overflow on mobile */
  .toast {
    min-width: auto;
    white-space: unset;
  }

  .app-toast-text {
    overflow-wrap: anywhere;
  }
</style>
