{#
Idea inspired by https://themurph.hashnode.dev/go-beyond-the-basics-mastering-toast-notifications-with-go-and-htmx
#}

<div
  class="toast max-h-full max-w-full overflow-x-auto overflow-y-auto max-md:toast-top max-md:w-full"
  id="toast-container"
>
  <template>
    <div class="alert flex items-center justify-between" role="alert">
      {# Don't use whitespace-pre on mobile to prevent overflow #}
      <div id="message" class="app-toast-text whitespace-pre-wrap"></div>
      <!-- https://flowbite.com/docs/components/toast/#default-toast -->
      <button
        type="button"
        class="btn btn-circle btn-outline btn-sm"
        aria-label="Close"
      >
        <span class="sr-only">Close</span>
        <svg
          class="h-3 w-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          />
        </svg>
      </button>
    </div>
  </template>
</div>

<style>
  /* Overwide daisyUI's properties to avoid overflow on mobile */
  .toast {
    min-width: auto;
    white-space: unset;
  }

  .app-toast-text {
    overflow-wrap: anywhere;
  }
</style>

{% if not hx_boosted %}
  <script>
    // @ts-check

    // [toast-fn]
    var toast = (() => {
      // Keep in sync with [toast]
      const TOAST_EVT = "app.toast";

      /** @type {Record<Toast["variant"], {alert: string[], button: string[]}>} */
      const variants = {
        error: {
          alert: "alert-error".split(" "),
          button:
            "border-error-content text-error-content hover:bg-error-content hover:border-error hover:text-error".split(
              " ",
            ),
        },
        success: {
          alert: "alert-success".split(" "),
          button:
            "border-success-content text-success-content hover:bg-success-content hover:border-success hover:text-success".split(
              " ",
            ),
        },
      };

      /**
       * @typedef Toast
       * @type {object}
       * @property {string} message
       * @property {string | undefined} detail
       * @property {"success" | "error"} variant
       * @property {boolean | undefined} auto_close
       */

      /**
       * @param data {Toast}
       * @param $template {HTMLTemplateElement}
       */
      function makeToast(data, $template) {
        const clone = /** @type {DocumentFragment} */ (
          $template.content.cloneNode(true)
        );
        const $toast = clone.querySelector("div");
        if (!$toast) throw new Error("Could not find toast div");
        const classNames = variants[data.variant];
        $toast.classList.add(...classNames.alert);

        const $message = $toast.querySelector("#message");
        if (!$message) throw new Error("Could not find #message");
        $message.textContent = data.message;

        const $button = $toast.querySelector("button");
        if (!$button) throw new Error("Could not find button");
        $button.classList.add(...classNames.button);

        return [$toast, $button];
      }

      /** @param data {Toast} */
      function toast(data) {
        const $toastContainer = document.getElementById("toast-container");
        if (!$toastContainer)
          throw new Error("Could not find #toast-container");
        const $template = $toastContainer.getElementsByTagName("template")[0];

        console.debug("toast", data);

        const [$toast, $button] = makeToast(data, $template);
        $toastContainer.appendChild($toast);

        const remove = () => {
          $toast.remove();
        };

        if (data.auto_close) {
          setTimeout(remove, 5000);
        }
        $button.addEventListener("click", remove);
      }

      document.body.addEventListener(TOAST_EVT, (evt) => {
        // @ts-ignore
        const detail = evt.detail;
        toast(detail);
      });

      return toast;
    })();
  </script>
{% endif %}
