<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Travel blog" />

    <meta name="keywords" content="Travel" />

    <link rel="stylesheet" href="{{ asset('css/app.css') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/lightgallery.css') }}" />
    <script src="{{ asset('js/app.js') }}" defer></script>
    {% block head %}
      <title>Cookie Odyssey</title>
    {% endblock head %}
  </head>

  {# NOTE: We need response-targets, otherwise HTMX completely ignores error responses! #}
  <body hx-boost="true" hx-ext="response-targets">
    {% set wrapper_class = "md:w-[600px]" %}
    {% if wide_layout %}
      {% set wrapper_class = "" %}
    {% endif %}

    <div class="{{ wrapper_class }} m-2 md:mx-auto">
      {% include "common/navbar.html" %}
      {% block content %}
      {% endblock content %}
    </div>

    {% include "common/toast.html" %}
  </body>
</html>
