<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>

  {# FIXME proper url #}
  <link rel="stylesheet" href="/_assets/app.css">
  {% block head %}
  <title>Cookie Odyssey</title>
  {% endblock head %}
</head>

{# NOTE: We need response-targets, otherwise HTMX completely ignores error responses! #}

<body hx-boost="true" hx-ext="response-targets">
  <div class="m-2 md:w-2/3 md:mx-auto">
    {% include "common/navbar.html" %}
    {% block content %} {% endblock content %}
  </div>
  {% include "common/toast.html" %}

  {% include "common/confetti.html" %}

</body>

</html>