<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Travel blog" />
    <meta name="keywords" content="Travel" />
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.5/dist/htmx.min.js"
      integrity="sha384-t4DxZSyQK+0Uv4jzy5B0QyHyWQD2GFURUmxKMBVww9+e2EJ0ei/vCvv7+79z0fkr"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx-ext-response-targets@2.0.2"
      crossorigin="anonymous"
    ></script>
    {% include "common/js_utils.html" %}
    {% include "common/datetime.html" %}

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/fancybox/fancybox.css"
    />
    {# FIXME proper url #}
    <link rel="stylesheet" href="/_assets/app.css" />
    {% block head %}
      <title>Cookie Odyssey</title>
    {% endblock head %}
  </head>

  {# NOTE: We need response-targets, otherwise HTMX completely ignores error responses! #}
  <body hx-boost="true" hx-ext="response-targets">
    {% set wrapper_class = "md:w-[600px]" %}
    {% if wide_layout %}
      {% set wrapper_class = "" %}
    {% endif %}

    <div class="{{ wrapper_class }} m-2 md:mx-auto">
      {% include "common/navbar.html" %}
      {% block content %}
      {% endblock content %}
    </div>
    {% include "common/toast.html" %}
    {% include "common/confetti.html" %}
    {% include "common/error_handling.html" %}
    <!-- This is pretty heavy, so stick at the bottom. -->
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/fancybox/fancybox.umd.js"></script>
    {% include "common/media.html" %}
  </body>
</html>
