{% extends "base.html" %}
{% import "common/form.html" as form %}

{% block content %}
  <div class="app-form mx-auto">
    <h1 class="app-title">New Entry</h1>
    <form hx-post="" id="journal_entry_new_form">
      {{ form.form_error(error="") }}

      {{ form.input("", "Journal", disabled=true, value=journal.name, autocomplete="off") }}
      {{ form.input("title", label="Title") }}
      <div class="my-4 flex w-full gap-2">
        <input
          type="date"
          name="date"
          required
          {% if default_date %}
            value="{{ default_date }}"
          {% endif %}
          class="input input-bordered flex-1"
        />
        <input
          type="time"
          name="time"
          required
          class="input input-bordered flex-1"
        />
      </div>
      <input
        type="hidden"
        name="journal_id"
        required="false"
        value="{{ journal.id }}"
      />

      <button type="submit" class="btn btn-primary my-8 w-full">Create</button>
    </form>

    <script>
      htmx.onLoad(() => {
        const $form = document.getElementById("journal_entry_new_form");
        /** @type {HTMLInputElement | undefined} */
        const $inputDate = $form?.querySelector(`input[name="date"]`);
        if ($inputDate && !$inputDate.value) {
          const now = new Date();
          const value = [
            now.getFullYear(),
            (now.getMonth() + 1).toString().padStart(2, "0"),
            now.getDate().toString().padStart(2, "0"),
          ].join("-");
          $inputDate.value = value;
        }
      });
    </script>
  </div>
{% endblock content %}
