{% extends "base.html" %}
{% import "common/form.html" as form %}

{% block content %}
  <div>
    <h1 class="app-title">New Journal</h1>
    <form hx-post="">
      {{ form.form_error(error="") }}

      {{ form.input("name", label="Name") }}
      {{ form.input("slug", label="Slug") }}
      {{ form.input("start_date", label="Start Date", type="date") }}
      {{ form.input("end_date", label="End Date", type="date") }}

      <button type="submit" class="btn btn-primary my-8 w-full">Create</button>
    </form>
  </div>
{% endblock content %}
