{% extends "base.html" %}
{% import "common/datetime.html" as dt %}
{% import "common/media.html" as m %}

{% block content %}
  <div>
    {#
    Header
    #}
    <h1 class="app-title">
      <a href="{{ href_journal_detail }}" class="link-hover link"
        >{{ journal.name }}</a
      >
      <span> - </span>
      {{ dt.date(datetime) }}
    </h1>

    {% if user.admin %}
      <div class="my-4 flex items-center justify-end">
        <a
          href="{{ href_journal_entry_new }}"
          class="btn btn-primary max-md:flex-1"
          >New Entry</a
        >
      </div>
    {% endif %}

    {#
    Entries
    #}
    <div class="space-y-4" data-fancybox-gallery>
      {% for entry in entries %}
        <div>
          <div>
            {% set aclass %}
              class="font-semibold leading-tight
              {% if entry.draft %}italic{% endif %}
              {% if user.admin %}link-hover link{% endif %}"
            {% endset %}
            <a
              {% if user.admin %}href="{{ entry.href_edit }}"{% endif %}
              {{ aclass | clsx }}
            >
              <div>{{ dt.time(entry.datetime) }}</div>
              <div>
                <span>{{ entry.title }}</span>
              </div>
              <div>
                <span>{{ entry.address }}</span>
              </div>
            </a>
          </div>
          <div class="mt-2 space-y-2 leading-snug">
            {% for chunk in entry.text | splitlines %}
              <p>{{ chunk }}</p>
            {% endfor %}
          </div>
          <div class="mt-2 space-y-2">
            {% for media in entry.media %}
              <figure class="w-full">
                {{ m.media_tag(media, "w-full") }}
                <figcaption class="mt-2 text-center text-sm">
                  {{ media.caption }}
                </figcaption>
              </figure>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>

    {# Footer #}
    <div class="mt-4 flex justify-between">
      <a
        class="btn border-neutral"
        {% if href_journal_day_prev %}
          href="{{ href_journal_day_prev }}"
        {% else %}
          disabled
        {% endif %}
        >Previous</a
      >
      <a
        class="btn border-neutral"
        {% if href_journal_day_next %}
          href="{{ href_journal_day_next }}"
        {% else %}
          disabled
        {% endif %}
        >Next</a
      >
    </div>

    {#
    Comments
    #}
    <hr class="my-8 h-px border-0 bg-gray-200 dark:bg-gray-700" />
    <div class="mb-8">{{ comments_fragment | safe }}</div>
  </div>
{% endblock content %}
