{% extends "base.html" %}
{% import "common/macros.html" as common %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Journals</h1>
    <div class="level">
      <div class="level-left is-fullwidth mobile">
        <a class="button is-primary is-fullwidth-mobile" href="{{ href_new }}">New Journal</a>
      </div>
    </div>
    {% for journal in journals %}
    <div class="card">
      <div class="card-content">
        <div class="title">
          <a href="{{ journal.href }}">
            {{ journal.name }}
          </a>
        </div>
        <div class="content">
          {{ common.date(date=journal.start_date) }}
          -
          {% if journal.end_date %}
          {{ common.date(date=journal.end_date) }}
          {% else %}
          -
          {% endif %}
        </div>
      </div>
    </div>
    {% else %}
    <div class="notification">
      No journals yet. <span class="has-text-weight-bold">What are you waiting for?</span>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}