{% extends "base.html" %}
{% import "common/datetime.html" as dt %}

{% block content %}
  <div>
    <h1 class="app-title">
      <a href="{{ href_journal_detail }}" class="link-hover link"
        >{{ journal.name }}</a
      >
      <span> - </span>
      {{ dt.date(datetime) }}
    </h1>
    {# Header #}
    {% if user.admin %}
      <div class="my-4 flex items-center justify-end">
        <a
          href="{{ href_journal_entry_new }}"
          class="btn btn-primary max-md:flex-1"
          >New Entry</a
        >
      </div>
    {% endif %}
    <div class="space-y-4">
      {% for entry in entries %}
        <div>
          <div>
            <a
              {% if user.admin %}
                href="{{ entry.href_edit }}"
              {% endif %}
              class="{% if entry.draft %}italic{% endif %} {% if user.admin %}link-hover link{% endif %} font-semibold leading-tight"
            >
              <div>{{ dt.time(entry.datetime) }}</div>
              <div>
                <span>{{ entry.title }}</span>
              </div>
              <div>
                <span>{{ entry.address }}</span>
              </div>
            </a>
          </div>
          <div class="mt-2 space-y-2 leading-snug">
            {% for chunk in entry.text | splitlines %}
              <p>{{ chunk }}</p>
            {% endfor %}
          </div>
          <div class="mt-2 space-y-2">
            {% for media in entry.media %}
              <figure class="w-full">
                <img src="{{ media.url }}" alt="media" class="w-full" />
                <figcaption class="mt-2 text-center text-sm">
                  {{ media.caption }}
                </figcaption>
              </figure>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
