{% extends "base.html" %}
{% import "common/datetime.html" as dt %}

{% block content %}
  <div>
    <h1 class="app-title">Journals</h1>
    <div class="my-4 flex items-center justify-between">
      <div></div>
      <a href="{{ href_new }}" class="btn btn-primary max-md:flex-1"
        >New Journal</a
      >
    </div>

    <div class="space-y-4">
      {% for journal in journals %}
        <a href="{{ journal.href }}" class="app-card mx-auto">
          <div class="card-body">
            <h2 class="card-title">{{ journal.name }}</h2>
            <div>
              {{ dt.date(journal.start_date) }}
              <span> - </span>
              {% if journal.end_date %}
                {{ dt.date(journal.end_date) }}
              {% endif %}
            </div>
          </div>
        </a>
      {% else %}
        <div class="alert alert-info">
          <span>
            No journals yet.
            <b class="font-bold">What are you waiting for?</b>
          </span>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
