{% extends "base.html" %}

{% block content %}
  <div>
    {% if journal %}
      <h1 class="title">{{ journal.name }}</h1>

      <!-- Header -->
      {% if user.admin %}
        <div class="flex justify-between items-center my-4">
          <div></div>
          <button class="btn btn-primary max-md:flex-1">New Entry</button>
        </div>
      {% endif %}

      <!-- Main -->

      <!-- Footer -->
      <div class="flex justify-between">
        <div></div>
        <div class="join max-md:grow max-md:justify-between">
          {# FIXME links #}
          <button class="btn join-item max-md:flex-grow border-neutral">
            View Map
          </button>
          <button class="btn join-item max-md:flex-grow border-neutral">
            View All
          </button>
          <button class="btn join-item max-md:flex-grow border-neutral">
            Export
          </button>
        </div>
        <div></div>
      </div>
    {% else %}
      <div class="alert alert-error">Oops! Could not find this journal.</div>
    {% endif %}
  </div>
{% endblock content %}
