{% extends "base.html" %}
{% import "common/form.html" as form %}

{% block content %}
  <div class="mx-auto md:w-1/2 md:p-8 dark:md:bg-neutral md:card md:shadow-xl">
    <h1 class="title">Login</h1>
    <form hx-post="">
      {{ form.form_error(error="") }}

      {{ form.input("email", label="Email", type="email") }}

      {% set forgot_password %}
        <a
          href="{{ href_forgot_password }}"
          class="label-text-alt link link-primary"
          >Forgot password?</a
        >
      {% endset %}
      {{ form.input("password", label="Password", type="password", label_right=forgot_password ) }}

      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="btn btn-primary w-full my-8">Login</button>
    </form>
    <div class="text-center">
      <a href="{{ href_register }}" class="link link-primary">Register</a>
    </div>
  </div>
{% endblock content %}
