{% extends "base.html" %}
{% import "common/form.html" as form %}

{% block content %}
  <div class="app-form-card">
    <h1 class="app-title">Login</h1>
    <form hx-post="">
      {{ form.form_error(error="") }}

      {{ form.input("email", label="Email", type="email") }}

      {% set forgot_password %}
        <a
          {# href="{{ href_forgot_password }}" #}
          class="link label-text-alt link-primary"
          onclick="toast({message: 'Too bad!', variant: 'success', auto_close: true})"
          >Forgot password?</a
        >
      {% endset %}
      {{ form.input("password", label="Password", type="password", label_right=forgot_password ) }}

      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="btn btn-primary my-8 w-full">Login</button>
    </form>
    <div class="text-center">
      <a href="{{ href_register }}" class="link link-primary">Register</a>
    </div>
  </div>
{% endblock content %}
