{% extends "base.html" %}
{% import "common/form.html" as form %}

{% block content %}
  <div class="app-form app-form-card mx-auto">
    <h1 class="app-title">Register</h1>
    <form hx-post="">
      {{ form.form_error(error="") }}

      {{ form.input("email", label="Email", type="email") }}
      {{ form.input("password", label="Password", type="password") }}
      {{ form.input("first_name", label="First Name") }}
      {{ form.input("last_name", label="Last Name") }}

      <button type="submit" class="btn btn-primary my-8 w-full">
        Register
      </button>
    </form>
  </div>
{% endblock content %}
