<!DOCTYPE html>
<html lang="en">
  <%# TODO: font  %>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/><%# TODO: Why %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title() %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <nav role="navigation">
        <div class="flex items-center justify-around bg-black text-white font-semibold text-2xl py-1">
          <div class="uppercase">
            Cookie Odyssey
          </div>
        </div>
        <div class="flex items-center justify-center border-b border-gray-200">
          <%= for {href, text} <- [
            {"/", "Home"},
            {"/new", "New"}
          ] do %>
            <div class="px-4 first:border-l border-r border-gray-300">
              <a href="<%= href %>"><%= text %></a>
            </div>
          <% end %>
        </div>
      </nav>
    </header>
    <main role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p><%# TODO css %>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p><%# TODO css %>
      <%= @inner_content %>
    </main>
  </body>
</html>
